[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"

[dev-packages]
pylint = "*"
mypy = "*"
autopep8 = "*"
radon = "*"
sphinx-bootstrap-theme = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"

[requires]
python_version = "3.8"
